<!DOCTYPE html>
<html>

<head>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--My css-->
  <link rel="stylesheet" href="/css/global.css" type="text/css">
  <meta charset="utf-8">

  <title>Killbase</title>
</head>

<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img class="nav-logo circle">Killbase<span class="red-text">.</span>
      </a>
      <ul>
        <a href="/assassins">
          <li class="right">Assassins</li>
        </a>
        <a href="/contracts">
          <li class="right">Contracts</li>
        </a>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h4>Active Assassins</h4>
      <div class="row">
        <div class="col s3 light">

          <!--assassin image-->

          <img src="/images/assassins.png" class="top-margin responsive-img">
        </div>
        <div class="col s8 light">

          <!--assassin data-->

          <table>
            <% for (var i=0; i<results.length; i++) { %>
              <tr>
                <th colspan="2">
                  <a href="/assassins/<%= results[i].id %>">
                    <%= results[i].full_name %>

                    <% if (results[i].code_name) { %>
                    (<%= results[i].code_name %>)</a>
                    <% } %>
                </th>
                <th colspan="2"><i class="tiny material-icons">edit</i> Edit</th>
                <th colspan="2"><i class="tiny material-icons">close</i> Delete</th>
              </tr>
              <tr>
                <td>Rating:
                  <%= results[i].rating %>
                </td>
                <td>Kills:
                  <%= results[i].kills %>
                </td>
              </tr>
              <tr>
                <td>Price:
                  <%= results[i].price %>
                </td>
                <td>Age:
                  <%= results[i].age %>
                </td>
              </tr>
              <tr>
                <td colspan="2">Weapon:
                  <%= results[i].weapon %>
                </td>
              </tr>
              <tr>
                <td colspan="2">Contact:
                  <%= results[i].contact_info %>
                </td>
              </tr>
              <% } %>
          </table>

        </div>
        <!-- <% for (var i=0; i<results.length; i++) { %>
        <div class="col s3 light">
          <p class="left"><i class="material-icons">edit</i> Edit</p>
          <p><i class="material-icons">close</i> Delete</p>
        </div>
        <% } %> -->
      </div>

    </div>


  </div>

  <br><br>





  <div class="container">
    <div class="section">



    </div>
    <br><br>
  </div>

  <footer class="page-footer red">
    <!-- <div class="container">
      <div class="row">

      </div>
    </div> -->
  </footer>








  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>
