<!DOCTYPE html>

<html>
  <% include partials/head %>


<body>
  <% include partials/nav %>


    <!-- =============   main   ================= -->

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row header-border">
          <div class="col s12 light">
            <h4 class="header-oneline header-right">
            <%= results[0].full_name %></h4>

            <% if (results[0].code_name) { %>

              <h4 class="header-oneline">
              (<%= results[0].code_name %>)
              <% } %></h4>
          </div>
        </div>

        <div class="row header table-padding">
          <div class="col s5 light">

            <!--assassin image-->
            <img src="<%= results[0].assassin_photo %>" class="top-margin responsive-img">
          </div>

          <!-- assassin info section -->

          <div class="col s4 light">

            <table class="bordered table-margin">
              <tr>
                <td><b>Rating:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].rating %>
                </td>
                <td><b>Kills:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].kills %>
                </td>
              </tr>
              <tr>
                <td><b>Price:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].price %>
                </td>
                <td><b>Age:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].age %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Weapon:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].weapon %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Contact:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[0].contact_info %>
                </td>
              </tr>
            </table>
          </div>

          <div class="col s1 light">
            <a href="/assassins/<%= results[0].assassin_id %>/edit" title="Edit">
            <i class="small material-icons">edit</i></a>
          </div>

          <div class="col s1">
            <a href="/assassins/<%= results[0].assassin_id %>/deleted" title="Delete">
            <i class="small material-icons">close</i></a>
          </div>

          <div class="col s1">
            <a href="mailto:<%= results[0].contact_info %>" title="Email">
            <i class="small material-icons">email</i></a>
          </div>

        </div>
      <!-- </div> -->

      <!-- active contracts section -->

      <div class="row header header-border">
        <div class="col s12 light">
          <h5>Active Contracts</h5>
        </div>
      </div>

      <div class="row header">
        <div class="col s12 light">

          <% if (results[0].target_name) { %>
            <% for (let i=0; i<results.length; i++) { %>

              <div class="row grey lighten-3 header table-padding">
                <div class="col s2 light">
                  <!--target image-->
                  <img src="<%= results[i].target_photo %>" class="top-margin responsive-img">
                </div>
                <div class="col s8 light">
                  <!--target data-->
                  <table class="bordered">
                    <tr>
                      <td colspan="2"><b>Name:</b>&nbsp;&nbsp;&nbsp;
                        <%= results[i].target_name %>
                      </td>
                      <td colspan="2"><b>Security Level:</b>&nbsp;&nbsp;&nbsp;
                        <%= results[i].target_security %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"><b>Target Location:</b>&nbsp;&nbsp;&nbsp;
                        <%= results[i].target_location %>
                      </td>
                      <td colspan="2"><b>Client Name:</b>&nbsp;&nbsp;&nbsp;
                        <%= results[i].client_name %>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col s2 center-align">
                  <a href="/contracts/<%= results[i].contract_id %>" title="More">
                  <i class="small material-icons">menu</i></a>
                </div>
              </div>

              <% } %>
                <%  } else { %>

                  <div class="row grey lighten-3 header table-padding">
                    <div class="col s6 light">
                    <p>  <a href="/contracts">Assign Contract</a></p>
                    </div>
                  </div>

                  <% } %>
        </div>

      </div>

      <div class="row header">
        <div class="col s12 light center-align">
          <a href="/assassins"><button type="button" class="btn waves-effect waves-light">Back to Assassins</button></a>
        </div>
      </div>

    </div>
    </div>
    <br><br>

    <% include partials/footer %>

</body>

</html>
