<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/nav %>

      <!-- =============   main   ================= -->


      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>

          <div class="row header header-border">
            <div class="col s12 light">
              <h4><%= assassin.full_name %>

            <% if (codename.code_name) { %>
            (<%= codename.code_name %>)
            <% } %> Updated!
          </h4>
            </div>
          </div>


          <div class="row">
            <div class="col s4 light">

              <!--assassin image-->
              <img src="<%= assassin.assassin_photo %>" class="top-margin responsive-img">
            </div>

            <!-- assassin info section -->

            <div class="col s6 light header">

              <table class="bordered header">
                <tr>
                  <td><b>Rating:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.rating %>
                  </td>
                  <td><b>Kills:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.kills %>
                  </td>
                </tr>
                <tr>
                  <td><b>Price:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.price %>
                  </td>
                  <td><b>Age:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.age %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><b>Weapon:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.weapon %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><b>Contact:</b>&nbsp;&nbsp;&nbsp;
                    <%= assassin.contact_info %>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row header-extra">
            <div class="col s12 light center-align">
              <a href="/assassins"><button type="button" class="btn waves-effect waves-light">Back to Assassins</button></a>
            </div>
          </div>
        </div>
      </div>

      <br><br>


    <% include partials/footer %>

  </body>

</html>
