<!DOCTYPE html>
<html>

  <% include partials/head %>


<body>

  <% include partials/nav %>


  <!-- =============   main   ================= -->



  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row header header-border">
        <div class="col s12 light">
          <h4 class="header-right">Active Assassins</h4>
          <a href="/assassins/new" title="New">
            <i class="small material-icons">add</i></a>
        </div>
      </div>

      <% for (var i=0; i<results.length; i++) { %>
        <div class="row grey lighten-3 header table-padding">
          <!--assassin image-->
          <div class="col s3 light">
            <a href="/assassins/<%= results[i].id %>">
            <img src="<%= results[i].assassin_photo %>" class="responsive-img top-margin">
          </a>
          </div>
          <div class="col s6 light">
            <!--assassin data-->

            <table class="bordered">

              <tr>
                <th colspan="2">
                  <a href="/assassins/<%= results[i].id %>">
                    <%= results[i].full_name %>

                      <% if (results[i].code_name) { %>
                        (<%= results[i].code_name %>)</a>
                  <% } %>
                </th>
              </tr>
              <tr>
                <td><b>Rating:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].rating %>
                </td>
                <td><b>Kills:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].kills %>
                </td>
              </tr>
              <tr>
                <td><b>Price:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].price %>
                </td>
                <td><b>Age:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].age %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Weapon:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].weapon %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Contact:</b>&nbsp;&nbsp;&nbsp;
                  <%= results[i].contact_info %>
                </td>
              </tr>

            </table>
          </div>

          <div class="col s1 center-align">
            <a href="/assassins/<%= results[i].id %>/edit" title="Edit">
            <i class="small material-icons">edit</i></a>
          </div>

          <div class="col s1 center-align">
            <a href="/assassins/<%= results[i].id %>/deleted" title="Delete">
            <i class="small material-icons">close</i></a>
          </div>

          <div class="col s1 center-align">
            <a href="/assassins/<%= results[i].id %>" title="More">
            <i class="small material-icons">menu</i></a>
          </div>


        </div>
        <% } %>

    </div>
  </div>

  <br><br>


  <% include partials/footer %>
</body>

</html>
