<!DOCTYPE html>
<html>
<% include partials/head %>

<body>
  <% include partials/nav %>

  <!-- =============   main   ================= -->

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row header header-border">
        <div class="col s12 light">
          <h4>Edit Contract</h4>
        </div>
      </div>


      <div class="row">
        <div class="col s3 light">
          <img src="<%= targetContract.target_photo %>" class="responsive-img">
        </div>
        <div class="col s9 light">

          <!--edit contract form-->
          <!-- add a text field to create a new client? -->

          <form action="/contracts/<%= targetContract.id %>/updated" method="post">

            <div class="row">
              <div class="input-field col s7">
                <input id="name" type="text" name="target_name" value="<%= targetContract.target_name %>">
                <label for="name">Target Name</label>
              </div>

              <div class="input-field col s3">
                <input id="seclevel" type="number" name="target_security" value="<%= targetContract.target_security %>">
                <label for="seclevel">Security Level</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s7">
                <input id="location" type="text" name="target_location" value="<%= targetContract.target_location %>">
                <label for="location">Target Location</label>
              </div>

              <div class="input-field col s3">
                <input id="budget" type="number" name="budget" value="<%= targetContract.budget %>">
                <label for="budget">Budget</label>
              </div>
            </div>

            <div class="row">
            <div class="input-field col s7">
              <input id="t-image" type="url" name="target_photo" value="<%= targetContract.target_photo %>">
              <label for="t-image">Target Image URL</label>
            </div>
          </div>

            <div class="row">
              <div class="input-field col s7">
                <select id="clientvalselect" name="clients">
                <option value="" disabled>Choose Client</option>
                <option value="<%= targetContract.client_name %>" selected><%= targetContract.client_name %> </option>

                  <% for (var i=0; i<clientNames.length; i++) { %>

                  <% if (clientNames[i].client_name !== targetContract.client_name) { %>

                  <option name="client_name" value="<%= clientNames[i].client_name %>"><%= clientNames[i].client_name %></option>

                    <% } %>
                    <% } %>
                </select>
                <label for="clientvalselect">Client</label>
                <input type="hidden" name="client_name" id="client_name" />

              </div>
            </div>

            <div class="row">
              <div class="col s7 light">
              <button class="btn waves-effect waves-light" type="submit" name="add">Edit Contract</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br><br>


  <% include partials/footer %>
  </body>

  </html>
