<!DOCTYPE html>
<html>

<% include partials/head %>

<body>
  <% include partials/nav %>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <div class="row header header-border">
        <div class="col s12 light">
          <h4>Contract Updated!</h4>
        </div>
      </div>

      <!-- image for target in updated contract -->
      <div class="row header-extra">
        <div class="col s4 light">
          <img src="<%= target.target_photo %>" class="responsive-img">
        </div>

        <!--new assassin added-->
        <div class="col s6 light">

          <table class="bordered header-extra">
            <tr>
              <td><b>Target Name:</b>&nbsp;&nbsp;&nbsp;
                <%= target.target_name %>
              </td>
              <td><b>Security Level:</b>&nbsp;&nbsp;&nbsp;
                <%= target.target_security %>
              </td>
            </tr>
            <tr>
              <td><b>Target Location:</b>&nbsp;&nbsp;&nbsp;
                <%= target.target_location %>
              </td>
              <td><b>Budget:</b>&nbsp;&nbsp;&nbsp;
                <%= contract.budget %>
              </td>
            </tr>
            <tr>
              <td colspan="2"><b>Client Name:</b>&nbsp;&nbsp;&nbsp;
                <%= clientName %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row header-extra center-align">
        <div class="col s12 light">
          <a href="/contracts"><button type="button" class="btn waves-effect waves-light header-extra">Back to Contracts</button></a>
        </div>
      </div>
    </div>
  </div>

  <br><br>



  <% include partials/footer%>

  </body>

  </html>
