<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/nav %>

      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>

          <div class="row">
            <div class="col s12 light header header-border">
              <h4><%= targetContract.target_name %></h4>
            </div>
          </div>

          <div class="row header">
            <div class="col s4 light">
              <img src="<%= targetContract.target_photo %>" class="responsive-img">
            </div>

            <!-- ============== contract info ================ -->

            <div class="col s5 light header">
              <table class="bordered header">
                <tr>
                  <td colspan="4"><b>Client Name:</b>&nbsp;&nbsp;&nbsp;
                    <%= targetContract.client_name %>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><b>Target Location:</b>&nbsp;&nbsp;&nbsp;
                    <%= targetContract.target_location %>
                  </td>
                </tr>
                <tr>
                  <td colspan="1"><b>Budget:</b>&nbsp;&nbsp;&nbsp;
                    <%= targetContract.budget %>
                  </td>
                  <td colspan="3>"><b>Security Level:</b>&nbsp;&nbsp;&nbsp;
                    <%= targetContract.target_security %>
                  </td>
                </tr>
              </table>





              <!-- ============== choose assassin menu ================ -->


              <form action="/contracts/<%= targetContract.id %>" method="post">
                <div class="row table-pad-top">
                  <div class="input-field col s12">

                    <select id="assassinvalselect" name="assassins">
                  <option value="" disabled selected>Choose Assassin</option>

                  <% for (var i=0; i<assassinNames.length; i++) { %>
                    <% if (!assassinNames[i].full_name) { %>

                    <option name="full_name" value="<%= assassinNames[i].code_name %>"><%= assassinNames[i].code_name %></option>

                    <% }  else { %>

                  <option name="full_name" value="<%= assassinNames[i].full_name %>"><%= assassinNames[i].full_name %></option>

                  <% } %>
                  <% } %>

                  </select>

                    <label for="assassinvalselect">Assassin</label>
                    <input type="hidden" name="assassin_name" id="assassin_name" />

                  </div>

                  <div class="col s8 light header-left-small">
                    <button class="btn waves-effect waves-light small" type="submit" name="add">Assign Assassin</button>
                  </div>
                </div>
              </form>
            </div>

            <!-- ============== edit buttons ================ -->

            <div class="col s1">
              <a href="/contracts/<%= targetContract.target_id %>/edit" title="Edit">
              <i class="small material-icons">edit</i></a>
            </div>

            <div class="col s1">
              <a href="/contracts/<%= targetContract.id %>/deleted" title="Delete">
              <i class="small material-icons">close</i></a>
            </div>

            <div class="col s1">
              <a href="/contracts/<%= targetContract.id %>/completed" title="Complete">
              <i class="small material-icons">check</i></a>
            </div>
          </div>

          <!-- ============== Contracted assassins ================ -->
          <!-- knex assassin_conract table-->
          <!--assign assassin should add row to the assassin contract table-->

          <div class="row header header-border">
            <div class="col s12 light">
              <h5>Contracted Assassins</h5>
            </div>
          </div>

          <div class="row header">
            <div class="col s12 light">

              <% if (assassinContracts.length > 0) { %>
                <% for (let i=0; i<assassinContracts.length; i++) { %>

                  <div class="row grey lighten-3 header table-padding">
                    <div class="col s2 light">
                      <!--target image-->
                      <img src="<%= assassinContracts[i].assassin_photo %>" class="top-margin responsive-img">
                    </div>

                    <div class="col s5 light">
                      <!--target data-->
                      <table class="bordered header-left">

                        <tr>
                          <td colspan="3"><b>Name:</b>&nbsp;&nbsp;&nbsp;
                            <%= assassinContracts[i].full_name %>

                              <% if (assassinContracts[i].code_name) { %>
                                (<%= assassinContracts[i].code_name %>)
                                  <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3"><b>Rating:</b>&nbsp;&nbsp;&nbsp;
                            <%= assassinContracts[i].rating %>
                          </td>
                        </tr>
                      </table>

                    </div>

    <!-- ============= remove contracted assassin button================ -->


                    <div class="col s4 light right-align">

                      <form action="/contracts/<%= targetContract.id %>/<%= assassinContracts[i].assassin_id %>/removed" method="post">

                        <div class="row table-pad-top">
                          <div class="input-field col s12">

                            <input type="hidden" name="assassin_id" value="<%= assassinContracts.assassin_id %>" />
                          </div>

                          <div class="col s12 light header-left-small">
                            <button class="btn-floating waves-effect waves-light btn-small" type="submit" name="add"><i class="tiny material-icons">remove</i></button>
                          </div>
                        </div>
                      </form>
                    </div>


                  </div>
                  <% } %>
                    <%  } else { %>
                      <div class="row grey lighten-3 header table-padding">
                        <div class="col s6 light">
                          <p><a href="/assassins">Browse Assassins</a></p>
                        </div>
                      </div>

                      <% } %>

            </div>

          </div>




          <div class="row center-align header-extra">
            <div class="col s12 light">
              <a href="/contracts"><button type="button" class="btn waves-effect waves-light">Back to Contracts</button></a>
            </div>
          </div>


        </div>
      </div>

      <br><br>





      <% include partials/footer %>

  </body>

</html>
