<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/nav %>


      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>

          <div class="row header header-border">
            <div class="col s12 light">
              <h4 class="header-right">Available Contracts</h4>
              <a href="/contracts/new"><i class="small material-icons">add</i></a>
            </div>
          </div>

          <% for (var i=0; i<targetContracts.length; i++) { %>

            <div class="row grey lighten-3 header table-padding">
              <div class="col s3 light">
                <!--target image-->
                <a href="/contracts/<%= targetContracts[i].id %>">
                  <img src="<%= targetContracts[i].target_photo %>" class="top-margin responsive-img">
                </a>
              </div>

              <!--contract data-->

              <div class="col s6 light">
                <table class="bordered">
                  <tr>
                    <th colspan="2">
                      <a href="/contracts/<%= targetContracts[i].id %>">
                        Target Name:&nbsp;&nbsp;&nbsp;
                        <%= targetContracts[i].target_name %></a>
                    </th>
                  </tr>
                  <tr>
                    <td><b>Client:</b>&nbsp;&nbsp;&nbsp;
                      <%= targetContracts[i].client_name %>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Target Location:</b>&nbsp;&nbsp;&nbsp;
                      <%= targetContracts[i].target_location %>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Budget:</b>&nbsp;&nbsp;&nbsp;
                      <%= targetContracts[i].budget %>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Security Level:</b>&nbsp;&nbsp;&nbsp;
                      <%= targetContracts[i].target_security %>
                    </td>
                  </tr>
                </table>
              </div>

              <div class="col s1 align-center">
                <a href="/contracts/<%= targetContracts[i].id %>/edit" title="Edit">
                  <i class="small material-icons">edit</i></a>
              </div>

              <div class="col s1 align-center">
              <a href="/contracts/<%= targetContracts[i].id %>/deleted" title="Delete">
                <i class="small material-icons">close</i></a>
              </div>

              <div class="col s1 align-center">
              <a href="/contracts/<%= targetContracts[i].id %>" title="More">
                <i class="small material-icons">menu</i></a>
              </div>
            </div>
            <% } %>

        </div>
      </div>

      <br><br>

  <% include partials/footer %>
  </body>

</html>
