<!DOCTYPE html>
<html>

<% include partials/head %>

<body>

  <% include partials/nav %>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <!-- image for new target added -->
      <div class="row">
        <div class="col s12 light header header-border">
          <h4>New Contract Added!</h4>
        </div>
      </div>

      <div class="row header">
        <div class="col s4 light">
          <img src="<%= target[0].target_photo %>" class="responsive-img">
        </div>

        <!--new assassin added-->
        <div class="col s6 light header-extra">
          <table class="bordered header-extra">
            <tr>
              <td><b>Target Name:</b>&nbsp;&nbsp;&nbsp;
                <%= target[0].target_name %>
              </td>
              <td><b>Security Level:</b>&nbsp;&nbsp;&nbsp;
                <%= target[0].target_security %>
              </td>
            </tr>
            <tr>
              <td><b>Target Location:</b>&nbsp;&nbsp;&nbsp;
                <%= target[0].target_location %>
              </td>
              <td><b>Budget:</b>&nbsp;&nbsp;&nbsp;
                <%= contract[0].budget %>
              </td>
            </tr>
            <tr>
              <td colspan="2"><b>Client Name:</b>&nbsp;&nbsp;&nbsp;
                <%= client %>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="row center-align header-extra">
        <div class="col s12 light">
          <a href="/contracts"><button type="button" class="btn waves-effect waves-light">Back to Contracts</button></a>
        </div>
      </div>
    </div>
  </div>

  <br><br>


  <% include partials/footer %>

  </body>

  </html>
