<!DOCTYPE html>
<html>

<% include partials/head %>

<body>
  <% include partials/nav %>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <div class="row header-extra header-border">
        <div class="col s12 light">
          <h4><%= assassinName[0].full_name %>
          <% if (assassinName[0].code_name) { %>
            (<%= assassinName[0].code_name %>)
            <% } %> Removed!</h4>
          </div>
        </div>


      <div class="row">
        <div class="col s4 light">

          <!--assassin image-->
          <img src="<%= assassinName[0].assassin_photo %>" class="top-margin responsive-img">
        </div>

        <!-- assassin info section -->

        <div class="col s6 light">
            <table class="bordered header-extra">
              <tr>
                <td><b>Rating:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].rating %>
                </td>
                <td><b>Kills:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].kills %>
                </td>
              </tr>
              <tr>
                <td><b>Price:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].price %>
                </td>
                <td><b>Age:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].age %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Weapon:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].weapon %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Contact:</b>&nbsp;&nbsp;&nbsp;
                  <%= assassinName[0].contact_info %>
                </td>
              </tr>
            </table>
        </div>
      </div>

      <div class="row header">
        <div class="col s12 light center-align">
          <a href="/contracts/<%= contractId %>"><button type="button" class="btn waves-effect waves-light">Back</button></a>
        </div>
      </div>
    </div>


  </div>

  <br><br>





  <% include partials/footer %>

  </body>

  </html>
